body {
  margin: 0;
  font-family: Inter, sans-serif;
  background-color: #fafafa;
  color: #333333;
  text-align: center;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}

header,
main,
footer {
  border: 1px solid #333333;
}
