* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  color-scheme: light dark;
  font-family: "Lato", sans-serif;
}

[data-theme="light"] {
  color-scheme: light;
  --main-bg-color: #fafafa;
  --main-text-color: #222222;
  --toggle-theme-btn-border: #4c7394;
  --toggle-theme-btn-border-hover: #6992b6;
  --toggle-theme-btn-bg-color: #fafafa;
  --toggle-theme-btn-text: #222222;
  --box-menu-shadow: #6992b6;
  --back-btn-bg-border-color: #4c7394;
  --back-btn-bg-border-color-hover: #222222;
  --back-btn-bg-color: #4c7394;
  --back-btn-bg-color-hover: #222222;
  --back-btn-text-color: #fafafa;
  --back-btn-text-color-hover: #fafafa;
  --side-menu-text: #222222;
  --side-menu-text-hover: #fafafa;
  --side-menu-bg-color-hover: #4c7394;
  --side-menu-shadow: #a0a0a0;
  --footer-text-color: #999999;
  --footer-text-link: #4f85e9;
  --hero-btn-text: #fafafa;
  --hero-btn-about-text: #222222;
  --hero-btn-about-border: #4c7394;
  --hero-btn-about-hover: #4c7394;
  --hero-btn-about-border-hover: #4c7394;
  --hero-btn-bg-color: #4c7394;
  --hero-btn-bg-border-color: #4c7394;
  --hero-btn-bg-border-color-hover: #222222;
  --hero-btn-bg-color-hover: #222222;
  --hero-btn-text-hover: #fafafa;
  --stack-icons-color: #4c7394;
  --stack-icon-btn-bg-color: #fafafa;
  --stack-icons-color-hover: #4c7394;
  --nav-bar-shadow: #bbbbbb;
  --chat-text-color: #fafafa;
}

[data-theme="dark"] {
  color-scheme: dark;
  --main-bg-color: #1a1b22;
  --main-text-color: #fafafa;
  --toggle-theme-btn-border: #658fb4;
  --toggle-theme-btn-border-hover: #658fb4;
  --toggle-theme-btn-bg-color: #1a1b22;
  --toggle-theme-btn-text: #fafafa;
  --box-menu-shadow: #658fb4;
  --back-btn-bg-border-color: #658fb4;
  --back-btn-bg-border-color-hover: #658fb4;
  --back-btn-bg-color: #1a1b22;
  --back-btn-bg-color-hover: #658fb4;
  --back-btn-text-color: #fafafa;
  --back-btn-text-color-hover: #fafafa;
  --side-menu-text: #fafafa;
  --side-menu-text-hover: #fafafa;
  --side-menu-bg-color-hover: #658fb4;
  --side-menu-shadow: #658fb4;
  --footer-text-color: #7899b6;
  --footer-text-link: #71a3ff;
  --hero-btn-text: #fafafa;
  --hero-btn-about-text: #fafafa;
  --hero-btn-about-border: #658fb4;
  --hero-btn-about-hover: #658fb4;
  --hero-btn-about-border-hover: #658fb4;
  --hero-btn-bg-color: #658fb4;
  --hero-btn-bg-border-color: #658fb4;
  --hero-btn-bg-border-color-hover: #fafafa;
  --hero-btn-bg-color-hover: #fafafa;
  --hero-btn-text-hover: #1a1b22;
  --stack-icons-color: #658fb4;
  --stack-icon-btn-bg-color: #1a1b22;
  --stack-icons-color-hover: #658fb4;
  --nav-bar-shadow: #658fb4;
  --chat-text-color: #1a1b22;
}

html,
body {
  height: 100%;
  width: 100%;
}

p {
  margin: 2rem 0;
  line-height: 1.8rem;
  font-size: 1.2rem;
  max-width: 40rem;
}

span {
  color: var(--stack-icons-color);
}

.em-text {
  font-size: 1.5rem;
  font-weight: 700;
  padding: 0 0.3rem;
  color: var(--main-text-color);
}

/*to keep the footer at the bottom consistently*/
.content-container,
.site-wrapper {
  min-height: 100vh;
}

.site-wrapper {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
}

.nav-bar {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: minmax(8rem, auto) 1fr auto;
  padding: 0 2rem;
  background-color: var(--main-bg-color);
}

/*add this to react logic*/

/* .nav-bar.scrolled {
  box-shadow: 0 0 10px var(--box-menu-shadow);
} */

/*to keep the modal menu floated to the left*/
.nav-menu {
  position: fixed;
  text-align: center;
  z-index: 1000;
  left: 0;
  top: 0;
  overflow: auto;
  list-style-type: none;
  background-color: var(--main-bg-color);
  box-shadow: 0 0 8px var(--side-menu-shadow);
  height: 100%;
  width: 73%;
}

.logo,
.theme-btn,
.ham-btn {
  margin: 2rem 0;
  padding-top: 1rem;
  display: flex;
  align-items: center;
}

.logo {
  font-size: 1.5rem;
  text-decoration: none;
  font-weight: 700;
  color: var(--main-text-color);
}

.theme-btn {
  grid-column: span 2;
  justify-content: center;
}

.ham-btn {
  display: flex;
  justify-content: end;
}

.menu-logo {
  padding: 3rem 0 2rem 0;
}

.menu-logo > img {
  padding: 1rem;
}

.home,
.project,
.about,
.contact {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  transition: all 0.3s ease-out;
}

.home:hover,
.projects:hover,
.about:hover,
.contact:hover {
  background-color: var(--side-menu-bg-color-hover);
}

.nav-link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 4rem;
  color: var(--main-text-color);
  text-decoration: none;
  gap: 0.5rem;
  width: 100%;
  font-size: 1.2rem;
}
.nav-link:hover {
  color: var(--side-menu-text-hover);
}

/*this gives a consistent structure to the page*/
.main-container {
  margin: 0 2rem;
}

.hero-h1 {
  font-size: 3rem;
}

/*this will help prevent users from clicking on the wrong area*/
.content-container {
  margin-top: 1rem;
}

.profile-img {
  width: 250px;
  margin-bottom: 1rem;
}

.chat-text {
  position: absolute;
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  align-items: center;
}

.text-label {
  content: "";
  display: inline-block;
  z-index: 1;
  overflow: hidden;
  white-space: nowrap;
  border-right: 0.15rem solid orange;
  font-family: monospace;
  white-space: nowrap;
  color: var(--chat-text-color);
  animation:
    typing 1s steps(4, end) forwards,
    blink-caret 1s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 45%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}

.mirror-icon {
  margin-top: -3.3rem;
  position: relative;
  transform: scaleX(-1);
}

.about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project-btn {
  display: inline-block;
  border: 1px solid var(--toggle-theme-btn-border);
  background-color: var(--toggle-theme-btn-bg-color);
  color: var(--toggle-theme-btn-text);
  border-radius: 1rem;
  padding: 1.5rem 1.5rem;
  margin-bottom: 2rem;
  width: 100%;
  height: 12rem;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.project-btn:hover {
  border: 1px solid var(--toggle-theme-btn-border-hover);
  box-shadow: 0 0 10px var(--box-menu-shadow);
}

.project-title {
  margin: 1.5rem 0;
}

.back-btn {
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: var(--back-btn-text-color);
  background-color: var(--back-btn-bg-color);
  border: 1px solid var(--back-btn-bg-border-color);
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  transition: all 0.3s ease-out;
}

.back-btn:hover {
  color: var(--back-btn-text-color-hover);
  border: 1px solid var(--back-btn-bg-border-color-hover);
  background-color: var(--back-btn-bg-color-hover);
}
.footer-container {
  display: flex;
  justify-content: center;
}

.footer {
  text-align: center;
  margin: 2rem;
  color: var(--footer-text-color);
}

.footer-link {
  margin: 0 0.3rem;
  text-underline-offset: 0.2rem;
  color: var(--footer-text-link);
  font-weight: 600;
}

/*to animate the menu item's underline on hover for more user friendliness*/

/* .nav-link {
  position: relative;
  padding: 0.5rem 0.7rem;
  font-weight: 500;
  transition: font-weight 0.3s ease;
}

.nav-link::after {
  content: "";
  position: absolute;
  width: 0;
  left: 0;
  bottom: 0;
  border-bottom: 2px solid var(--menu-underline);
  transition: all 0.3s ease-out;
}

.menu:hover::after {
  width: 100%;
  cursor: pointer;
} */

.hamburgerToggle {
  border: 1px solid var(--toggle-theme-btn-border);
  background-color: var(--toggle-theme-btn-bg-color);
  padding: 0.2rem 0.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.hamburgerToggle:hover {
  border: 1px solid var(--toggle-theme-btn-border-hover);
  box-shadow: 0 0 10px var(--box-menu-shadow);
}

.hero-btn-container {
  display: flex;
  gap: 1rem;
  margin: 1rem 0 2rem 0;
}

.hero-btn-about,
.hero-btn {
  margin: 1rem 0;
  justify-content: center;
  text-decoration: none;
  padding: 1rem 1.5rem;
  border-radius: 5rem;
}

.hero-btn {
  border: 1px solid var(--hero-btn-bg-border-color);
  background-color: var(--hero-btn-bg-color);
  color: var(--hero-btn-text);
  transition: all 0.3s ease-out;
  font-size: 1.2rem;
}

.hero-btn:hover {
  border: 1px solid var(--hero-btn-bg-border-color-hover);
}

.hero-btn-about {
  color: var(--hero-btn-about-text);
  border: 1px solid var(--hero-btn-about-border);
  transition: all 0.3s ease-out;
  font-size: 1.2rem;
}

.hero-btn-about:hover {
  border: 1px solid var(--hero-btn-about-border-hover);
  box-shadow: 0 0 10px var(--hero-btn-about-hover);
}

.icon-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.icon-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 1rem;
  margin: 2rem 0;
  text-align: center;
  font-size: 1rem;
  border-radius: 1rem;
  border: none;
  cursor: pointer;
  background-color: var(--stack-icon-btn-bg-color);
  transition: transform 0.5s ease-out;
  /*for larger screens*/

  /* width: 12rem; */
}

.icon-btn:hover {
  transform: translateY(-1rem);
  /*for larger screens*/

  /* font-size: 2rem;
  width: 12rem; */
  margin: 1rem 0;
  box-shadow: 0 0 10px var(--stack-icons-color-hover);
}

.stack-icons {
  margin-bottom: 0.3rem;
  font-size: 3rem;
  color: var(--stack-icons-color);
}

.darkModeToggle {
  border: 1px solid var(--toggle-theme-btn-border);
  background-color: var(--toggle-theme-btn-bg-color);
  color: var(--toggle-theme-btn-text);
  gap: 0.2rem;
  padding: 0.7rem 1rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease-out;
  border-radius: 5rem;
}

/*the shadow help pops up the button more to make it more user friendly*/

.darkModeToggle:hover {
  border: 1px solid var(--toggle-theme-btn-border-hover);
  box-shadow: 0 0 10px var(--box-menu-shadow);
}

.hero-btn:hover {
  background-color: var(--hero-btn-bg-color-hover);
  color: var(--hero-btn-text-hover);
}

.toggleThemeText {
  font-size: 1rem;
}

/*responsiveness for mobile devices*/
/* @media (max-width: 480px) {
} */

/*responsiveness for tablets and small laptops*/
@media (min-width: 481px) and (max-width: 1024px) {
}

/*responsiveness for large screens*/
@media (min-width: 1025px) {
}

/*add system default theme*/

/* @media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
    --main-bg-color: #1a1b22;
    --main-text-color: #fafafa;
    --toggle-theme-btn-border: #293641;
    --toggle-theme-btn-bg-color: #1a1b22;
    --toggle-theme-btn-hover: #293641;
    --toggle-theme-btn-text: #fafafa;
    --menu-underline: #5d7892;
    --box-nav-shadow: #293641;
    --box-menu-shadow: #5d7992;
  }
} */
